.score {
  text-align: center;
  vertical-align: middle;
  width: 2vw;
  height: 4vw;
}

.score button{
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem;
  border-radius: 50%;
  font-size: xx-small
}

.title {
  font-size: 2em;
}